body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: linear-gradient(145deg, #6dd5ed, #2193b0);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 400px;
}

.form-container h2 {
    color: #333;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

/* Form Group */
.form-group {
    position: relative;
    margin: 20px 0;
}

/* Input Fields */
input[type="email"],
input[type="password"],
input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 12px 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 0% -10px;
    font-size: 16px;
    background-color: #f8f9fa;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
    outline: none;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #2193b0;
    box-shadow: 0 0 8px rgba(33, 147, 176, 0.5);
}

/* Labels */
label {
    position: absolute;
    top: 12px;
    left: 15px;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: all 0.3s ease;
}

/* When Input is Focused or Filled */
input:focus + label,
input:not(:placeholder-shown) + label {
    top: -10px;
    left: 12px;
    font-size: 14px;
    color: #2193b0;
    background: #fff;
    padding: 0 5px;
}

/* Buttons */
button {
    background-color: #2193b0;
    color: #fff;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    width: 100%;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6dd5ed;
}

a {
    display: block;
    margin-top: 15px;
    color: #2193b0;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    transition: color 0.3s ease;
}

a:hover {
    color: #6dd5ed;
}

/* .error-message {
    color: red;
    font-size: 14px;
    margin-top: 5px;
    display: none; 
}  */

/* input:invalid ~ .error-message {
    display: none; 
} */

/* input:invalid:focus {
    border-color: red;
    box-shadow: 0 0 8px rgba(255, 0, 0, 0.5);
} */